{% extends "testsite/base.html" %}
{% block title %}
    Senator Ibrahim Hadejia
{% endblock %}
{% block body %}
{% load static %}
<div class="uk-background-muted uk-background-cover">

<div class="uk-position-top uk-text-large">
    <nav class="uk-navbar-container uk-dark" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="{% url 'home' %}" uk-scroll>Ibrahim H.Hadejia</a>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{% url 'home' %}">Back to Home</a></li>
            </ul>
        </div>
    </nav>
</div>


    <div class="uk-height-viewport uk-background-cover uk-preserve-color" uk-parallax="bgy: -300" style="background-image: url(static/testsite/images/Test2.jpeg);" uk-height-viewport="offset-top: true; offset-bottom: 15">
      </div>
      <div>
              <h1 class="uk-heading-primary uk-text-center">About Ibrahim</h1>
              <hr class= "uk-divider-icon">
              <p class="uk-text-emphasis uk-dropcap uk-width-2-3@m uk-align-center ">
                Ibrahim Hassan Hadejia is the current senator of Jigawa North-East. Elected through a fair democratic election,
                he won by a landslide against his opponent under the party of APC. He has earned a reputation of a hardworking civil servant, dedicated to raising the standards of Jigawa and its citizen.<br><br>

Born in 1965 into the family of late elder statesman, Alhaji Hassan Hadejia who was until his death, the Shettima of Hadejia,
Ibrahim grew up in Kaduna. He went through the Sacred Heart Primary School, Kaduna, Barewa College Zaria, School of Basic
Studies, Ahmadu Bello University, Zaria, where he was enrolled into the Faculty of Law. Despite his tendrils in Kaduna,
his roots were and are in Hadejia, where he has close ties with plenty of family and a family house in Fantai.
After the death of his father, Ibrahim, determined to strengthen his own roots independent of his father acquired his own
family house in the same neighborhood. <br><br>

In 19XX he graduated with a law degree after attending the Nigerian Law School Lagos after which he was called to bar.
Despite his Father, Ibrahim worked his way up starting with his youth service in 1990. In subsequent years, Ibrahim worked with
 several public companies across different states in Nigeria.
 As the Manager of Liberty Merchant Bank (Port-Harcourt Branch)responsible for Eastern Region; he made it the most profitable branch 3 years in a row. As the Head of International Treasury and Chief Foreign Exchange Dealer, he was directly responsible for a trading open position limit of $5 Million daily. Noticed for his hard work, he was called to serve as the Attorney General, Commissioner of Jigawa State, a position he held until 2000 when he was appointed the Secretary to the State Government.<br><br>

Ibrahim made further ripples in the government with his hard work allowing him to run alongside Alhaji Saminu Turaki and
emerge victorious as the deputy governor of Jigawa state.
ensuring the inclusion of Jigawa State as one of the 6 DFID focal states, leading to the establishment of the SLGP program
 (State& local Government Program) in the state and 4 subsequent DFID supported programs namely, PATHS(Partnership for
 transforming health systems, JEWEL (Jigawa Wetlands livelihood Program) and the Access to Justice Program, introduced
 and established Integrated Financial Management Information Systems (IFMIS) to accommodate unified budgeting and link
 the budget ministry with the State treasury and Salaries and pensions department, and organized and produced the Jigawa
  SEEDS document (J-SEEDS) and translated abridged versions in English & Hausa and a 13 episode Hausa radio drama series
  to explain and disseminate J-SEEDS as well as supported the production of LEEDS for 9 out of 27 local governments.
He also chaired the DFID financed State and Local Government Program (SLGP) to facilitate the implementation of reform in
 State and Local Government policies and successfully re-organized contracting and tendering process through the reorientation
 and repositioning of the Finance & General purposes committee (FGPC) and the establishment of the Project Monitoring and
  Evaluation Unit (PMU).
Ever the one to keep up with current trends, Ibrahim obtained a diploma in computing from Oxford University in 2005.<br><br>

In 2015 after a brief hiatus to the private sector, Ibrahim returned to politics and once again ran alongside Alhaji
Badaru and emerged victorious as the deputy governor of Jigawa again. This time he lead the creation of thousands of jobs,
rebuilt several educational institutions, helped take InvestJigawa International, put the Agricultural sector on a path to
supplying a large portion of the nation’s food products and tried to ensure there was as little government wastage as possible.
 It is no surprise then that he won over the people in 2019 to become the senator of Jigawa North-East, he fights for the people.
 <br><br>

His mission is to raise the standards of the people of Jigawa be it living standards, government expectation or health services.
 It is privilege to work on behalf of the people of Jigawa state and give them a voice.<br><br>

Ibrahim He is a member of the Nigerian Bar Association, and the chartered Institute Of Arbitration, United Kingdom.<br><br>
His hobbies include reading, Web research and data mining, squash, and to cap it all, the Barrister is a Computer adept,
 proficient in all Microsoft Office applications, Comfortable with both Windows and Mac OS LAN Administration
 (AS400, NT, Novell) java programming.<br><br>
He is married with children.

              </p>
          </div>
      </div>
      </div>
<a class="uk-dark uk-xlarge-margin-left uk-text-large" href="#" uk-totop uk-scroll>GO BACK TO TOP</a>
</div>
<footer class="uk-section-secondary">


    <div class="uk-padding-small uk-margin-xlarge-left" uk-grid>
    <ul class="uk-iconnav">
      <a href="https://twitter.com/ihadejia" uk-icon="twitter"></a>
      <a href="" uk-icon="facebook"></a>
      <a href="https://www.instagram.com/ihadejia/" uk-icon="instagram"></a>
    </ul>

    <p class="uk-text-bottom">  © 2019 Senator Ibrahim Hadejia. Designed by Rukayya Hadejia </p>
</div>

{% endblock %}
